@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul>
        @foreach (var category in Model.categories)
        {
            <li>@category.CategoryName</li>
        }
    </ul>
</div>
